<library path="python">
  <class name="DebugPanel" type="autoware_driving_mode_tools.DebugPanel" base_class_type="rqt_gui_py::Plugin">
    <description>
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip></statustip>
      </group>
      <label>Driving Mode Debug Panel</label>
      <icon type="theme">utilities-system-monitor</icon>
      <statustip></statustip>
    </qtgui>
  </class>
</library>
