<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- load parameter -->
  <xacro:property name="vehicle_info" value="${xacro.load_yaml('$(find autoware_sample_vehicle_description)/config/vehicle_info.param.yaml')}"/>

  <!-- vehicle body -->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 ${pi/2.0}"/>
      <geometry>
        <mesh filename="package://autoware_sample_vehicle_description/mesh/autoware_sample_vehicle.dae" scale="1 1 1"/>
      </geometry>
    </visual>
  </link>
</robot>
